<% include ../views/partials/header %>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#addperson" aria-expanded="false" aria-controls="addperson">
  Add New Person
</a>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#addlocation" aria-expanded="false" aria-controls="addlocation">
  Add New Location
</a>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#connectacquaintances" aria-expanded="false" aria-controls="connectacquaintances">
  Connect Acquaintances
</a>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#addbirthplace" aria-expanded="false" aria-controls="addbirthplace">
  Add Birthplace
</a>

<br></br>

<div class="collapse" id="addperson">
  <div class="well">
  <h3>Add New Person</h3>
    <form method="POST" action="/person/add">
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>


<div class="collapse" id="addlocation">
  <div class="well">
  <h3>Add New Location</h3>
    <form method="POST" action="/location/add">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>


<div class="collapse" id="connectacquaintances">
  <div class="well">
 <h3>Connect Acquaintances</h3>
    <form method="POST" action="/acquaintances/connect">
        <input type="text" name="nameOne" placeholder="Name">
        <input type="text" name="nameSecond" placeholder="Name">
        <input type="submit" value="Submit" class="btn btn-default btn-sm">
    </form>
   </div>
</div>

<div class="collapse" id="addbirthplace">
  <div class="well">
 <h3>Add Birthplace</h3>
<form method="POST" action="/person/born/add">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="text" name="year" placeholder="Year">
    <input type="submit" value="Submit" class="btn btn-default btn-sm">
</form>
   </div>
</div>

<h3>People</h3>
<div class="row">
<% persons.forEach(function(person){ %>
    <div class="col-md-2">
    <div class="well"><i class="fa fa-user"></i> <a href="/person/<%= person.id %>"><%= person.name %></a></div>
    </div>
<% }) %>
</div>

<h3>Locations</h3>
<div class="row">
<% locations.forEach(function(location){ %>
 <div class="col-md-2">
    <div class="well"><i class="fa fa-map-marker"></i>  <%= location.city %>, <%= location.state %></div>
   </div>
<% }) %>
</div>
<% include ../views/partials/footer %>